<form>
  <div class="flexrow" style="align-items: flex-start;">
    <div class="part newcategory">
      <div class="title">{{localize "EQUIPMENTSLOTS.MENU.categories"}}</div>
      <ol>
        <li class="flexrow">
          <span class="columnTitle">{{localize "EQUIPMENTSLOTS.MENU.columnID"}}</span>
          <span class="columnTitle">{{localize "EQUIPMENTSLOTS.MENU.columnName"}}</span>
          <span class="columnEnabled">{{localize "EQUIPMENTSLOTS.MENU.columnEnabled"}}</span>
        </li>
        {{#each categories as |category|}}
        <li class="flexrow {{category.hide}}" data-id="{{category.name}}">
          <input type="text" name="categories.{{category.name}}.name" value="{{category.name}}" {{disabled category.moduleordefault}} required="true"
            placeholder="{{localize "EQUIPMENTSLOTS.MENU.columnID"}}">
          <input type="text" name="categories.{{category.name}}.label" value="{{category.label}}" {{disabled category.moduleordefault}} required="true"
            placeholder="{{localize "EQUIPMENTSLOTS.MENU.columnName"}}">
          <input class="columnEnabled" type="checkbox" name="categories.{{category.name}}.value" {{disabled category.module}} {{checked category.enabled}}>
          {{#unless category.moduleordefault}}
          <a class="columnDelete" data-action="delete-button">
            <i class="fa-solid fa-trash"></i>
          </a>
          {{/unless}}
          {{#if category.module}}
          <div class="columnDelete module">
            <i class="fa-solid fa-toolbox" data-tooltip="EQUIPMENTSLOTS.MENU.moduleAdded"></i>
          </div>
          {{/if}}
        </li>
        {{/each}}
        <button type="button" data-action="add-button" data-type="categories">
          <i class="fa-solid fa-plus"></i> {{localize "EQUIPMENTSLOTS.MENU.addNewCategory"}}
        </button>
      </ol>
    </div>
    <div class="part newitem">
      <div class="title">{{localize "EQUIPMENTSLOTS.MENU.items"}}</div>
      <ol>
        <li class="flexrow">
          <span class="columnTitle">{{localize "EQUIPMENTSLOTS.MENU.columnID"}}</span>
          <span class="columnTitle">{{localize "EQUIPMENTSLOTS.MENU.columnName"}}</span>
          <span class="largeSelect">{{localize "EQUIPMENTSLOTS.MENU.columnCategory"}}</span>
          <span class="columnTitle">{{localize "EQUIPMENTSLOTS.MENU.columnProf"}}</span>
          <span class="columnEnabled">{{localize "EQUIPMENTSLOTS.MENU.columnEnabled"}}</span>
        </li>
        {{#each items as |item|}}
        <li class="flexrow {{item.hide}}" data-id="{{item.name}}">
          <input type="text" name="items.{{item.name}}.name" value="{{item.name}}" {{disabled item.moduleordefault}} required="true" 
            placeholder="{{localize "EQUIPMENTSLOTS.MENU.columnID"}}">
          <input type="text" name="items.{{item.name}}.label" value="{{item.label}}" {{disabled item.moduleordefault}} required="true"
            placeholder="{{localize "EQUIPMENTSLOTS.MENU.columnName"}}">
          <select name="items.{{item.name}}.category" class="largeSelect" {{disabled item.moduleordefault}}>
            {{selectOptions @root.categoryDropdown selected=item.category blank="" }}
          </select>
          <select name="items.{{item.name}}.prof" {{disabled item.moduleordefault}}>
            {{selectOptions @root.profDropdown selected=item.prof blank="Always"}}
          </select>
          <input class="columnEnabled" type="checkbox" name="items.{{item.name}}.value" {{disabled item.module}} {{checked item.enabled}}>
          {{#unless item.moduleordefault}}
          <a class="columnDelete" data-action="delete-button">
            <i class="fa-solid fa-trash"></i>
          </a>
          {{/unless}}
          {{#if item.module}}
          <div class="columnDelete module">
            <i class="fa-solid fa-toolbox" data-tooltip="EQUIPMENTSLOTS.MENU.moduleAdded"></i>
          </div>
          {{/if}}
        </li>
        {{/each}}
        <button type="button" data-action="add-button" data-type="items">
          <i class="fa-solid fa-plus"></i> {{localize "EQUIPMENTSLOTS.MENU.addNewItem"}}
        </button>
      </ol>
    </div>
  </div>

  <footer class="flexrow submit-footer">
    <button type="submit">
      <i class="far fa-save"></i> {{localize "EQUIPMENTSLOTS.MENU.saveChanges"}}
    </button>
  </footer>
</form>